<main class="main">
  <div class="head">
    <div class="header col-12">
      <div class="menu col-3">
        <a href="#">Service</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="login-container col-2">
        <button class="btn btn-primary log-btn col-8">Login</button>
      </div>
    </div>
    <div class="head-content col-12">
      <div class="head-left-content col-6">
        <h1>Welcome to, Sampah-in</h1>
        <br>
        <h2>“Your Trash, Your Money”</h2>
        <br>
        <p>Help us to clean our environment by recycling your trash</p>
        <br>
        <button class="btn btn-primary log-btn">Get Started</button>
      </div>
      <div class="head-right-content col-6">
        <img [src]="headLogo" alt="ewe">
      </div>
    </div>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>